.textHome{
  margin: 40px 350px;
  color: rgba(0, 0, 0, 0.602);
}

.image2{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width:75vw;
  border-radius:50px;
  padding: 150px;
}
.homePara{
  margin: 100px 100px;
  color: rgb(182, 182, 52);
  font-size: 40px;
}
.homeButton1{
  font-size: 15px;
}
.homeButton2{
  font-size: 15px;
}
.homePara2{
  font-size: 60px;
  color: rgb(182, 182, 52)
}
.homeAmazon{
  width:5vw;
}
.homeFlipkart{
  width:5vw;
  border-radius: 20px;
}
.aboutH1{
  margin: 5px 520px;
  color: rgba(134, 134, 52, 0.772);
  font-size:50px;
}
.aboutImage{
  width:70vw;
  padding: 200px;
}
.aboutH2{
  margin: 5px 450px;
  color: rgba(134, 134, 52, 0.772);
  font-size:50px;
}
.aboutP{
  margin: 100px 10px;
  color: rgba(134, 134, 52, 0.772);
  font-size:25px;
}
.aboutP2{
  margin: 100px 350px;
  color: rgba(134, 134, 52, 0.772);
  font-size:25px;
}
.aboutP3{
  margin: 100px 0px;
  color: rgb(160, 141, 31);
  font-size:25px;
}
.img1{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width:30vw;
  margin-left:100px;

}
.img2{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width:30vw;
  margin-left: 100px;

}
.img3{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width:30vw;
  margin-left: 100px;
}
.img4{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width:30vw;
  margin-left: 100px;
}
.productsP1{
  color: rgb(9, 9, 8);
  font-size: 18px;
  margin:60px 150px;
}
.productsP2{
  color: rgb(9, 9, 8);
  font-size: 18px;
  margin:60px 150px;
}
.productsP3{
  color: rgb(9, 9, 8);
  font-size: 18px;
  margin:60px 150px;
}
.productsP4{
  color: rgb(9, 9, 8);
  font-size: 18px;
  margin:60px 150px;
}
.productsH1{
  margin:50px 300px;
}
.grid{
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  margin-top: 250px;
  flex-wrap: wrap;
}
.grid2 {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  margin-top: 250px;
  flex-wrap: wrap;

}
.bg{
  background-image: url(./images/bg1.png);
  width:1280px;
  height:1900px;
  background-size:cover;
}
.NavbarCss{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: sans-serif;
}
.headingCart1{
  margin: 60px 560px;
  color: rgba(0, 0, 0, 0.602);
}
.navbarDisp{
  display:flex;
  margin: 20px 950px;
  /* border-style: outset; */
  border-right-width:120px;
  border-color: rgba(237, 162, 12, 0.298);
  border-radius: 10px;
}
.cartCss{
  border-style: outset;
  border-right-width:120px;
  border-width: 200px;
  border-color:rgb(157, 137, 22);
  border-radius: 10px;
}
cartH2{
  
}